@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Work+Sans:wght@300;400&display=swap');
html {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
}

p {
  font-weight: 200;
}

a {
  text-decoration: none;
}